html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	text-align: center;
}

/*--------섹션---------*/
.section {
	width: 100%;
	padding-top: 100px;
	margin-bottom: 80px;
}

#container {
	width: 700px;
	margin: 0px auto;
}

#wrap-content {
	width: 700px;
	margin: auto;
	text-align: left;
	font-size: large;
	margin-top: 80px;
}

#auth_kakao {
	padding: 20px;
	width: 100%;
	border: 1px solid #fef01b;
	background-color: #fef01b;
	border-radius: 10px;
	display: flex;
}

#wrap-content>button>span {
	font-size: 18px;
	margin-left: 90px;
}

/*--------또는-------*/
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin: 60px 0px;
}

.hr-sect::before, .hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

#user-none {
	width: 100%;
	display: flex;
	margin-bottom: 30px;
}

#user, #none {
	border: 1px solid lightgray;
	width: 50%;
	padding: 20px;
	font-weight: bold;
}

#user {
	background-color: white;
	border-radius: 5px 0px 0px 5px;
	border-color: black;
}

#none {
	border-color: aliceblue;
	color: gray;
	border-radius: 0px 5px 5px 0px;
	background-color: rgba(0, 0, 0, 0.034);
}

#input input {
	display: block;
	width: 94%;
	padding: 20px;
	border: 1px solid lightgray;
}

input::placeholder {
	color: black;
	font-size: large;
}

#input {
	margin-bottom: 30px;
}

#login-btn {
	background-color: rgba(0, 0, 0, 0.747);
	color: white;
	font-weight: bold;
	font-size: larger;
	width: 100%;
	padding: 20px;
	border-radius: 5px;
}

#sub_btn {
	display: flex;
	padding: 20px 0px;
	font-size: small;
	justify-content: space-between;
}

#auth {
	display: flex;
}

#auth_naver, #auth_google {
	width: 50%;
	padding: 20px;
	background-color: white;
	border: 1px solid lightgrey;
	display: flex;
	justify-content: space-between;
	font-size: large;
}

button {
	cursor: pointer;
}